In [1]:
import pandas as pd
import numpy as np
import re

In [38]:
df = pd.read_csv("acre_boladao_JAN.csv", sep=',')
df

,Nome,Situação,Cargo,Bruto,Desconto,Líquido
0,AARON RODRIGUES GOMES,EM EXERCÍCIO,MEDICO,"13.907,13","3.453,59","10.453,54"
1,ABDENAGO ALVES PEREIRA FILHO,APOSENTADO,APOSENTADOS - MEDIA,"4.975,59","77,50","4.898,09"
2,ABDENAGO ALVES PEREIRA FILHO,APOSENTADO,PROFESSOR P2 30H - CLASSE II,"4.412,60","2.401,64","2.010,96"
3,ABDENEGO DE PAULA CAMILLO,EM EXERCÍCIO,CABO,"6.354,06","3.658,45","2.695,61"
4,ABDIAS COSTA DA SILVA,EM EXERCÍCIO,PROFESSOR N SUPERIOR-P2 CONT TEMP-25H,"5.415,70","699,48","4.716,22"
...,...,...,...,...,...,...
50095,ZULEIDE VIEIRA DA SILVA,APOSENTADO,PROFESSOR P2 30H - CLASSE I,"5.782,12","236,45","5.545,67"
50096,ZULENE AMORIM DA SILVA,AFASTADO/LICENCIADO - TRATAMENTO DE SAUDE - A,TECNICO EM ENFERMAGEM,"2.479,57","893,99","1.585,58"
50097,ZULENE DA SILVA COSTA,EM EXERCÍCIO,TECNICO EM ENFERMAGEM,"3.189,08","405,25","2.783,83"
50098,ZULENE MARQUES DE SOUZA,EM EXERCÍCIO,APOIO ADMIN. NIVEL I 25H - CLASSE I,"9.194,33","2.173,69","7.020,64"
50099,ZULENI LIMA GUIMARAES,APOSENTADO,APOIO ADMIN. NIVEL I 25H - CLASSE III,"2.465,41","71,86","2.393,55"

In [37]:
saida = df[df['Líquido'].isnull()]
saida["Situação"].split

AttributeError: 'Series' object has no attribute 'split'

In [11]:
saida.to_csv("saida.csv", index=False)

In [40]:
# Criando uma função para dividir a coluna
def corrigir_linhas_incorretas(row):
    # Verifica se há uma letra maiúscula na célula
    if any(c.isupper() for c in str(row['Situação'])):
        # Divide a célula usando a posição da primeira letra maiúscula
        return pd.Series([row['Situação'][:next(i for i, c in enumerate(row['Situação']) if c.isupper())],
                          row['Situação'][next(i for i, c in enumerate(row['Situação']) if c.isupper()):]])
    else:
        return row

# Aplica a função à coluna problemática
df[['Situação', 'Cargo']] = df.apply(corrigir_linhas_incorretas, axis=1)

df

ValueError: Columns must be same length as key